/*---------------------------------------------
    Header Menu
---------------------------------------------*/

.nav-area .navbar-area .main-menu-right .menu-right-list,
.navigator-wrapper .main-navigation-area .main-menu-right .menu-right-list {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 10px;
}

/* Search */
.header-search-form form {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.main-mobile-nav .header-search-form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-search-form input[type='search']:focus {
    background: var(--sp-white);
}

.header-search-form input[type='search'] {
    outline: none;
    padding: .813rem 1rem;
    border-color: var(--sp-border-dark);
    border-radius: 5px 0 0 5px;
    padding-right: 55px;
}

.header-search-form form>button.header-search-button {
    position: relative;
    color: var(--sp-white);
    border: none;
    background-color: var(--sp-primary2);
    border-radius: 0 5px 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid var(--sp-primary2);
    padding-left: 18px;
    padding-right: 18px;
}

.header-search-form form>button.header-voice-button {
    background: transparent;
    border: none;
    position: absolute;
    right: 56px;
    border-left: 1px solid var(--sp-border-dark);
    padding: 0px 18px;
    color: var(--sp-black);
}

.header-search-form form>button.header-voice-button:hover {
    color: var(--sp-black);
    outline: none;
}

.placeholder {
    position: absolute;
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    color: var(--sp-black);
    padding-left: 20px;
    background-color: #fff0;
    opacity: 1;
    cursor: auto;
    font-weight: 500;
}

.spinnnn {
    text-align: left;
    margin: 0;
    padding: 0;
}

.spinnnn>li {
    position: absolute;
    top: 50%;
    --rotateX: calc(1deg* var(--rotateDegrees)* calc(var(--item_index) - var(--current_index)));
    transform: rotateX(var(--rotateX)) translateZ(190px) translateY(-50%);
    display: grid;
    transition: transform 250ms ease, visibility 250ms ease;
    visibility: hidden;
    font-weight: 600;
    color: var(--sp-secondary2);
}

.spinnnn>li.active {
    visibility: visible;
}

/* end search */

.main-menu-right .menu-right-list li .like-icon-wrap,
.main-menu-right .menu-right-list li .cart-icon-wrap {
    position: relative;
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 25px;
    width: 40px;
    height: 50px;
    transition: 1s;
    padding: 0;
	line-height: 50px;
    text-align: center;
}

.main-menu-right .menu-right-list li>button span, .main-menu-right .menu-right-list li>a span {
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 30px;
    width: 22px;
    height: 22px;
    margin: auto 0;
    line-height: 22px;
    display: inline-block;
    font-size: 12px;
    color: var(--sp-white);
    border-radius: 50%;
    text-align: center;
    background: var(--sp-secondary2);
}

.main-menu-right .user-wrapper {
    position: relative;
    padding-left: 10px;
    margin-left: 20px;
}

.header.header-four .right-widget::before,
.main-menu-right .user-wrapper::before {
    position: absolute;
    left: -16px;
    margin: 0 15px;
    content: "";
    width: 1px;
    height: 30px;
    background: #e9e9e9;
    top: 50%;
    transform: translateY(-50%);
    opacity: 50%;
}

.header-four .main-menu-right .user-wrapper::before {
    left: -30px;
    background: var(--sp-border-dark);
}

.user-wrapper .header-user {
    font-size: 22px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: var(--sp-primary);
    color: var(--sp-white);
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav Area */
.header>.nav-area {
    position: relative;
    z-index: 8;
}

.nav-area .navigation-content {
    position: relative;
    display: grid;
    gap: 8px;
    grid-template-columns: 0.9fr 3fr 1fr;
}

.header.header-three .nav-area .navigation-content {
    grid-template-columns: 5fr 1fr 1fr;
}

.header.header-four .nav-area .navigation-content {
    grid-template-columns: 1fr 4fr 0.1fr;
}

.product-category-browse {
    z-index: 9;
    position: relative;
	align-items: center;
    display: inline-flex
}

header.header-one .product-category-browse::after {
    right: -5px;
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 2000px;
    height: 100%;
    background-color: var(--sp-primary);
}

@media (max-width: 1399px) {
    header.header-one .product-category-browse::after {
        right: -8px;
    }
}

.header.header-two .main-menu-right{
    align-items: center;
}

.product-category-browse .product-category-btn {
    border-radius: 5px;
    color: var(--sp-white);
    background-color: var(--sp-secondary);
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border: none;
}

.header-four .product-category-browse .product-category-btn {
    border-radius: 40px;
    padding: 4px 25px;
}

.product-category-browse .product-category-btn .product-icon {
    font-size: 30px;
    padding-right: 15px;
}

.product-category-browse .product-category-btn .icon-content {
    line-height: 1.2;
    text-align: left;
    min-width: 120px;
}

.product-category-browse .product-category-btn .icon-content span {
    font-size: small;
}

.product-category-browse .product-category-btn .icon-content h6 {
    font-size: 16px;
}

.product-category-browse .empty {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
    left: 0;
    top: 0;
}

.product-category-browse .empty.active {
    display: block;
}

/*.header.header-one .nav-area::after {
	content:"";
	background-color: var(--sp-primary);
	left: 0px;
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
	z-index: 0;
	height: 100%;
	width: var(--after-width, 240px);
}*/

.three-line-toggle span {
    width: 30px;
    height: 3px;
    display: block;
    margin-bottom: 7px;
    background: var(--sp-white);
    transition: all 0.5s;
}

.three-line-toggle span:nth-child(2) {
    width: 18px;
}

.product-category-btn:focus-within .three-line-toggle span:nth-child(2),
.product-category-btn:hover .three-line-toggle span:nth-child(2) {
    width: 30px;
}

.three-line-toggle span:last-child {
    margin-bottom: 0;
}


/* Menu bar */
.menubar {
    /* position: sticky; */
    z-index: 1;
}

ul.menu-wrap {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.menu-wrap li {
    list-style: none;
}

ul.menu-wrap {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

.menubar ul.menu-wrap {
    display: inline-flex;
    gap: 10px;
}

.menubar .menu-wrap>li {
    display: inline-block;
    /* margin: 0 2px; */
    position: static;
}

.menubar .menu-wrap>li>a {
    padding: 4px 12px;
    display: inline-flex;
    color: var(--sp-gray);
}

.menubar .menu-wrap>li>a>.badge {
    position: absolute;
    top: 4px;
    right: -5px;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 2px;
    background-color: var(--sp-secondary2);
}

.menubar .menu-wrap>li>a>.badge.badge-drop::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 6px;
    height: 6px;
    background: inherit;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.menubar .menu-wrap li>a {
    text-decoration: none;
    color: var(--sp-gray);
}

.menubar ul.menu-wrap>li.dropdown>a {
    padding-right: 24px;
}

.menu-wrap>li>a,
.dropdown-menu li a {
    position: relative;
    display: block;
    text-align: inherit;
    z-index: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 55px;
}

.menubar .menu-wrap>li.dropdown>a:before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    align-items: center;
    background: transparent;
    font-size: 90%;
}

.menubar .menu-wrap .menu-item.active a,
.menubar .menu-wrap>li:focus-within>a,
.menubar .menu-wrap>li:hover>a {
    color: var(--sp-black);
}


.navbar-area .menubar .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 9;
    width: 215px;
    background: var(--dark-2);
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    border-top: 1px solid var(--sp-secondary2);
    -moz-box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    text-align: left;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    transition: all 0.3s ease-in-out 0s;
}

.footer .menu-wrap .dropdown-menu li:hover>a,
.footer .menu-wrap .dropdown-menu li:focus-within>a,
.footer-copyright .widget_nav_menu .sub-menu li:hover>a,
.footer-copyright .widget_nav_menu .sub-menu li:focus-within>a,
.header .widget_nav_menu .sub-menu li:hover>a,
.header .widget_nav_menu .sub-menu li:focus-within>a,
.menubar .dropdown-menu li:hover>a,
.menubar .dropdown-menu li:focus-within>a {
    color: var(--sp-primary2);
    padding-left: 20px;
}

.menubar .dropdown-menu li.menu-item.dropdown:focus-within>a,
.menubar .dropdown-menu li.menu-item.dropdown:hover>a {
    padding-left: 15px;
}

.menubar .dropdown-menu li.menu-item.dropdown>a::before {
    content: unset;
}

.menu-link-item .dropdown-item::before,
.menubar .dropdown-menu li>a::before {
    content: '';
    margin-left: 10px;
    width: 6px;
    height: 6px;
    background: var(--sp-primary2);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(0);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.menu-link-item .dropdown-item:hover::before,
.menubar .dropdown-menu li>a:hover::before,
.menu-link-item .dropdown-item:focus-within:before,
.menubar .dropdown-menu li>a:focus:before {
    transform: translateY(-50%) scale(1);
    opacity: 1;
}

.footer .menu-wrap .menubar .dropdown-menu>li,
.footer-copyright .widget_nav_menu .sub-menu>li,
.header .widget_nav_menu .sub-menu>li,
.navbar-area .menubar .dropdown-menu>li {
    padding: 0;
    position: relative;
    height: auto;
}

.footer .menu-wrap .dropdown-menu li a,
.footer-copyright .widget_nav_menu .sub-menu li a,
.header .widget_nav_menu .sub-menu li a,
.menubar .dropdown-menu li a {
    font-size: 15.2px;
    line-height: 1;
    padding: 12px 15px;
    border-bottom: 1px solid #eeeeee;
    text-transform: none;
    white-space: normal;
}

.footer-copyright .widget_nav_menu .menu-item:hover>.sub-menu,
.footer-copyright .widget_nav_menu .menu-item:focus>.sub-menu,
.header .widget_nav_menu .menu-item:hover>.sub-menu,
.header .widget_nav_menu .menu-item:focus>.sub-menu,
.footer .menu-wrap .menu-item:hover>.dropdown-menu,
.footer .menu-wrap .menu-item:focus>.dropdown-menu,
.navbar-area .menu-wrap .menu-item:hover>.dropdown-menu,
.navbar-area .menu-wrap .menu-item:focus>.dropdown-menu,
.navbar-area .menu-wrap .menu-item:focus-within>.dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
}


.footer .menu-wrap .dropdown-menu .dropdown>a:after,
.footer-copyright .widget_nav_menu .sub-menu .menu-item-has-children>a:after,
.header .widget_nav_menu .sub-menu .menu-item-has-children>a:after,
.menubar .dropdown-menu .dropdown>a:after {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: medium;
    opacity: 0.7;
    font-weight: 100;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menubar .dropdown-menu .dropdown:hover>a:after,
.menubar .dropdown-menu .dropdown.focus>a:after {
    opacity: 1;
    -webkit-text-fill-color: var(--sp-primary);
}

.header .widget_nav_menu .sub-menu li .sub-menu,
.menubar .dropdown-menu li .dropdown-menu {
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}

.header .widget_nav_menu .sub-menu li .sub-menu,
.navbar-area .menubar .dropdown-menu li .dropdown-menu {
    top: 0px;
    transform: translateY(-12px);
}


.menubar .nav li .dropdown-menu li .dropdown-menu,
.menubar .nav li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 100%;
    top: 0;
}

.menubar .nav li .dropdown-menu li .dropdown-menu li .dropdown-menu,
.menubar .nav li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu,
.menubar .nav li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    top: 100%;
    left: 0%;
}

.menubar .nav li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu,
.menubar .nav li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -100%;
    top: 0%;
}

.menubar .nav li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    top: 0%;
    left: -100%;
}

.sticky-menu {
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--dark-2);
    z-index: 999;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}


/* Mega Menu */

.dropdown-menu.mega-menu-wrapper {
    background-color: #fff;
    box-shadow: none;
    border: none;
}

.dropdown-menu.mega-menu-wrapper {
    min-width: 280px;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 30px 15px !important;
}

.main-navbar .dropdown-menu.mega-menu-wrapper {
    width: 100%;
    left: 50%;
    top: 100%;
    margin-top: 12px;
    transform: scaleY(0) translateX(-50%) !important;
}

.navbar-area .menu-wrap .menu-item:focus-within>.mega-menu-wrapper,
.navbar-area .menu-wrap .menu-item:hover>.mega-menu-wrapper {
    transform: scaleY(1) translateX(-50%) !important;
}

.has-mega-menu.dropdown {
    position: static;
}

.has-mega-menu:focus-within::after,
.has-mega-menu:hover::after {
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 992px) {
    .dropdown-menu.mega-menu-wrapper {
        filter: drop-shadow(0 0 4px #d7d7d7);
    }

    .has-mega-menu:focus-within::after,
    .has-mega-menu:hover::after {
        top: calc(100% - 15px);
        font-family: "FontAwesome";
        content: "\f0d7 ";
        position: absolute;
        margin-left: -40px;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        transform: rotate(180deg);
        filter: drop-shadow(0 0 4px #c7c7c7);
    }
}

.menu-thumbnail-item .dropdown-item>img {
    width: 70px;
    height: 70px;
    float: left;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid var(--sp-primary2);
}

.menu-thumbnail-item .dropdown-item>i {
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--sp-primary2);
    background-color: #ececec;
    border: 1px solid var(--sp-border-dark);
}

.menu-thumbnail-item:hover .dropdown-item>i,
.menu-thumbnail-item:focus-within .dropdown-item>i {
    color: var(--sp-white);
    background-color: var(--sp-primary2);
}

.menu-single-item .link-item-description,
.thumbnail-item-title {
    padding-left: 85px;
}

.thumbnail-item-title {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.menu-link-item .dropdown-item:focus-within,
.menu-link-item .dropdown-item:hover {
    padding-left: 20px !important;
}

.dropdown-item:focus-within,
.dropdown-item:hover {
    color: var(--sp-primary2) !important;
}

.thumbnail-item-title+p {
    margin-top: 5px;
    color: var(--sp-gray);
    line-height: 1.4;
}

.thumbnail-item-title .badge {
    border-radius: 2px;
    padding: 2px 6px 1px;
    font-weight: 500;
    margin-left: 5px;
}

.menu-link-item h3 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px 15px;
    color: var(--sp-white);
    border-radius: var(--sp-radius);
    background: var(--sp-secondary);
}

.mega-menu-wrapper.dropdown-menu .dropdown-item {
    border-bottom: none;
    clear: unset;
    width: auto;
}

.has-mega-menu .sticker-trendy::after,
.has-mega-menu .sticker-new::after {
    font-size: 11px;
    line-height: 15px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.has-mega-menu .sticker-new::after {
    background: var(--sp-primary2);
    content: "New";
}

.has-mega-menu .sticker-trendy::after {
    background: var(--sp-secondary2);
    content: "Hot";
}


/* Mobile Menu */

.main-mobile-nav {
    width: 100%;
    display: none;
}

.main-mobile-menu {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    min-height: 50px;
    border-bottom: 1px solid var(--sp-border-dark);
}

.main-mobile-nav.sticky-nav.sticky-menu .main-mobile-menu {
    display: none;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menubar .mobile-toggler {
    display: none;
    position: absolute;
    top: 12px;
    right: 7px;
    z-index: 1;
    /* transform: translateY(-50%); */
}

.menubar .mobile-toggler button {
    text-align: center;
    line-height: 20px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--sp-border-dark);
}

@media only screen and (max-width: 991px) {
    .menubar .mobile-toggler {
        display: inline-flex;
    }

    .menubar .nav {
        float: none;
        padding: 10px 20px;
    }

    .menubar .menu-wrap>li {
        width: 100%;
        margin-bottom: 5px;
    }

    .menubar .menu-wrap>li.dropdown a {
        position: relative;
    }

    .menubar ul.menu-wrap {
        /* display: inline-flex; */
        gap: 0px !important;
    }

    .menubar .menu-wrap>li>a>.badge {
        top: 50%;
        left: auto;
        right: unset;
        margin-left: 6px;
        transform: translateY(-50%);
    }
    .menubar .menu-wrap>li>a>.badge.badge-drop::before {
        left: -5px;
        top: 50%;
        bottom: unset;
        transform: translateY(-50%);
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
    .menubar .menu-wrap>li a {
        display: block;
        padding: 0px 15px;
        line-height: 2.8;
        border-radius: 25px;
        margin: 4px 0;
        background-color: #f0f0f0;
        border: 1px solid var(--sp-border-dark);
    }

    .menubar .menu-wrap>li a:hover,
    .menubar .menu-wrap>li a:focus {
        background-color: color-mix(in oklab, var(--sp-primary2) 25%, transparent 50%);
    }

    .menubar .menu-wrap>li.dropdown.open>a:before,
    .menubar .dropdown-menu .dropdown.open>a:after {
        content: '\f107';
        color: var(--sp-primary);
    }

    .menubar::-webkit-scrollbar {
        display: none;
    }

    .menubar .dropdown-menu {
        position: static;
        width: auto;
        background: 0 0;
        box-shadow: none;
        margin: 0;
        opacity: 0;
        border-radius: 0;
        visibility: hidden;
        max-height: 0;
        border: none;
        transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
        overflow: hidden;
        z-index: 999;
        animation: open 0.5s ease-in-out;
    }

    .menu-item.open>.dropdown-menu {
        display: block;
        visibility: visible;
        opacity: 1;
        max-height: 100%;
    }

    .menubar .dropdown-menu li .dropdown-menu>li>a {
        padding-left: 25px;
    }

    .main-navbar .dropdown-menu.mega-menu-wrapper {
        padding: 0 !important;
        margin-top: 0;
        transform: scaleY(1) translateX(0) !important;
    }

    .menu-link-item h3 {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .menu-thumbnail-item .link-item>a {
        padding-top: 5px !important;
    }

    .menu-single-item .link-item-description,
    .thumbnail-item-title {
        line-height: 1.5;
        padding-left: 75px;
    }

    .menu-thumbnail-item img {
        width: 60px;
        height: 60px;
    }

    .mega-menu-wrapper.dropdown-menu .dropdown-item {
        border-bottom: 1px solid var(--sp-border-dark);
    }

    
    .menubar .menu-wrap>li a:hover .mobile-toggler>button,
    .menubar .menu-wrap>li a:focus .mobile-toggler>button,
    .menubar .menu-wrap>li.dropdown.open> .mobile-toggler>button,
    .menubar .menu-wrap>li.dropdown .dropdown-menu>li.dropdown.open> .mobile-toggler>button,
    .menubar .menu-wrap>li.dropdown .dropdown-menu>li.dropdown.open>li.dropdown.open> .mobile-toggler>button {
        color: var(--sp-white);
        background-color: var(--sp-primary2);
    }

    .menubar .menu-wrap>li.dropdown .mobile-toggler>button.fa-chevron-right:before {
        content: "\f105";
    }

    .menubar .menu-wrap>li.dropdown.open>a>.mobile-toggler>button.fa-chevron-right:before,
    .menubar .menu-wrap>li.dropdown .dropdown-menu>li.dropdown.open> .mobile-toggler>button.fa-chevron-right:before,
    .menubar .menu-wrap>li.dropdown .dropdown-menu>li.dropdown.open>li.dropdown.open> .mobile-toggler>button.fa-chevron-right:before {
        content: '\f107';
    }

    .navbar-area .menubar .dropdown-menu .dropdown>a:after,
    .navbar-area .menubar .dropdown-menu .dropdown.open>a:after,
    .menubar .menu-wrap>li.dropdown.open>a:before,
    .menubar .dropdown-menu .dropdown>a:after,
    .menubar .menu-wrap>li.dropdown>a:before {
        content: unset;
    }
}